header {
    background-color: #cbcc94;
    color: #3b3b3b;
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 3px 2px -2px gray;
}

body {
    background-image: url("imgC3.png");
    background-repeat: no-repeat;
    background-size: 62px;
    /* position: absolute; */
    background-position: right top;
    margin-right: 65px;
    background-attachment: scroll;
    /* font-family: 'Arial', sans-serif; */
  }


.suggestions-container {
    max-height: 100px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    border: 1px solid #ccc; /* Añade un borde para el contenedor */
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 6px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    background-color: #fff; /* Fondo blanco para el contenedor */
}
.suggestions-container div {
    padding: 5px;
    cursor: pointer;
}
.suggestions-container div:hover {
    background-color: #e0e0e0; /* Color de fondo cuando se pasa el ratón por encima */
}

#suggestions {
    max-height: 100px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    display: none; /* Inicialmente oculto */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    background-color: #fff; /* Fondo blanco para el contenedor */
}

textarea {
    width: 30%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Estilos para arbol.html: */

.ArbolTitle {
    font-family: 'Times New Roman OS Bold';
    /* font-family: 'Shonar Bangla Bold'; */
    font-weight: bold;
    font-size: 35px;
}

#container_SVar {
    display: flex; /* Usa flexbox para el contenedor */
    height: 100%; /* Asegura que el contenedor principal ocupe toda la altura de la ventana */
    width: 100%;
    border-top: 5px double #a1bfd3;
    border-bottom: 5px double #a1bfd3;
}

#covContainer{
    flex : 1;
    border-right: 5px solid #a1bfd3;
    border-left: 8px solid #a1bfd3;
    padding: 15px;
}

#classContainer{
    flex: 1;
    border-left: 5px solid #a1bfd3;
    padding: 15px;
}


#buttonContainer {
    padding: 15px;
    display: grid; /* Usa grid para el contenedor */
    place-items: center; /* Centra horizontal y verticalmente */
}

#sendButton {
    background-color: #326fe0d7; /* Color de fondo */
    color: rgb(255, 244, 244); /* Color del texto */
    border-color: #326fe0d7; /* Color del borde */
    /* font-size: 18px; Tamaño del texto */
    /* padding: 10px 20px; Tamaño del botón */
}

#sendButton:hover {
    background-color: #1253ccd7; /* Color de fondo cuando se pasa el cursor */
    border-color: #1253ccd7; /* Color del borde cuando se pasa el cursor */
}

/* Para mostrar solo los checkboxes de los nodos hijos para la clase:  */
#classContainer .jstree li.jstree-open > a.jstree-anchor > i.jstree-checkbox, 
#classContainer .jstree li.jstree-closed > a.jstree-anchor > i.jstree-checkbox { 
    display:none; 
}

/* ---------- */

/* Estilo de las tablas: */
.titulo-especial {
    font-family: Arial, sans-serif; /* Cambia "Arial" al tipo de letra deseado */
    font-style: italic; /* Aplica cursivas */
    color: rgb(169, 169, 169); /* Cambia el color a gris claro (RGB) */
}
.df1 .dataframe td:nth-last-child(1),
.df1 .dataframe td:nth-last-child(2),
.df1 .dataframe th:nth-last-child(1),
.df1 .dataframe th:nth-last-child(2) {
    background-color: rgb(173, 216, 230); /* Azul claro */
}
.df1 .dataframe {
width: 80%; /* Cambia el tamaño de la tabla */
max-width: 100%; /* Asegura que no exceda el ancho del viewport */
}
.df1 .dataframe th {
    text-align: left; /* Para alinear el texto */
}

.df1 .dataframe th:first-child,
.df1 .dataframe td:first-child {
    display: none; /* Oculta la primera columna */
}

.df2 .dataframe td {
    text-align: left;
    /* white-space: pre-line; */
}

.df2 .dataframe th {
    text-align: center;
    /* white-space: pre; */
}

.df2 .dataframe th:first-child,
.df2 .dataframe td:first-child {
    /* background-color: rgb(231, 139, 105);
     */
     display: none;
}


/* - Botones de filtro (Epsilon):     */

.filter-button {
    text-align: right;
    margin-bottom: 20px;
}

.filter-button button {
    margin-left: 10px;
    padding: 10px;
    background-color: #49744a;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-button button:hover {
    background-color: #305031;
}
