header {
    background-color: #cbcc94;
    color: #3b3b3b;
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 3px 2px -2px gray;
}

body {
    background-image: url("imgC3.png");
    background-repeat: no-repeat;
    background-size: 62px;
    /* position: absolute; */
    background-position: right top;
    margin-right: 65px;
    background-attachment: scroll;
  }

/* .suggestions-container {
    display: none;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
}
.suggestions-container div {
    padding: 8px;
    cursor: pointer;
}
.suggestions-container div:hover {
    background-color: #f0f0f0;
} */


.suggestions-container {
    max-height: 100px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    border: 1px solid #ccc; /* Añade un borde para el contenedor */
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 6px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    background-color: #fff; /* Fondo blanco para el contenedor */
}
.suggestions-container div {
    padding: 5px;
    cursor: pointer;
}
.suggestions-container div:hover {
    background-color: #e0e0e0; /* Color de fondo cuando se pasa el ratón por encima */
}

#suggestions {
    max-height: 100px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    display: none; /* Inicialmente oculto */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    background-color: #fff; /* Fondo blanco para el contenedor */
}

/* Estilos para arbol.html */
.selected-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.remove-button {
    margin-left: 10px;
    cursor: pointer;
    color: red;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: blanchedalmond;
    font-size: 12px;
    padding: 2px 5px;
}
textarea {
    /* width: 30%; */
    /* height: 70px; */
    margin-top: 10px;
    margin-bottom: 15px;
}
.covariables {
    color: rgb(37, 172, 187);
}
.clase {
    color: rgb(216, 82, 33);
}


#selectedNodesContainer1, #selectedNodesContainer2{
    border: 2.5px solid rgb(70, 70, 70); /* Cambia el color y grosor del borde según tus necesidades */
    padding: 10px;           /* Añade espacio dentro del div */
    margin: 10px;            /* Añade espacio fuera del div */
    max-width: 550px;
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    flex: 0 0 50%;
}

#container_SVar {
    display: flex; /* Usa flexbox para el contenedor */
    height: 100%; /* Asegura que el contenedor principal ocupe toda la altura de la ventana */
    width: 100%;
}

#selectedNodesContainer1 {
    background-color: rgb(213, 221, 223); /* Color de fondo para distinguir visualmente */
}
#selectedNodesContainer2 {
    background-color: rgb(241, 216, 209); /* Color de fondo para distinguir visualmente */
}


#buttonContainer {
    display: grid; /* Usa grid para el contenedor */
    place-items: center; /* Centra horizontal y verticalmente */
}


/* ---------- */

/* Estilo de las tablas: */
.titulo-especial {
    font-family: Arial, sans-serif; /* Cambia "Arial" al tipo de letra deseado */
    font-style: italic; /* Aplica cursivas */
    color: rgb(169, 169, 169); /* Cambia el color a gris claro (RGB) */
}
.df1 .dataframe td:nth-last-child(1),
.df1 .dataframe td:nth-last-child(2),
.df1 .dataframe th:nth-last-child(1),
.df1 .dataframe th:nth-last-child(2) {
    background-color: rgb(173, 216, 230); /* Azul claro */
}
.df1 .dataframe {
width: 80%; /* Cambia el tamaño de la tabla */
max-width: 100%; /* Asegura que no exceda el ancho del viewport */
}
.df1 .dataframe th {
    text-align: left; /* Para alinear el texto */
}

.df1 .dataframe th:first-child,
.df1 .dataframe td:first-child {
    display: none; /* Oculta la primera columna */
}

.df2 .dataframe td {
    text-align: left;
    /* white-space: pre-line; */
}

.df2 .dataframe th {
    text-align: center;
    /* white-space: pre; */
}

.df2 .dataframe th:first-child,
.df2 .dataframe td:first-child {
    /* background-color: rgb(231, 139, 105);
     */
     display: none;
}


/* - Botones de filtro (Epsilon):     */

.filter-button {
    text-align: right;
    margin-bottom: 20px;
}

.filter-button button {
    margin-left: 10px;
    padding: 10px;
    background-color: #49744a;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-button button:hover {
    background-color: #305031;
}