
# <<<Configuración de niche_integration>>>

# En plataforma se inidica un nombre para la misma.

# variable_columns es una lista de las columnas que definen a las variables.
# table es la tabla donde están almacenados los datos
# resolution indica la columna donde están las celdas para cada resolución del ensamble.

default_connection: &DEFAULT
  host: fastdb.c3.unam.mx
  user: monitor
  password: monitor123
  port: 5433

plataforma:
  name: niche_integration

fuente_de_datos_metadatos:
  niche_integration: 
    <<: *DEFAULT
    variable_columns:
      - especievalidabusqueda
    table: sp_snib
    resolution:
      mun: cells_munkm_1
    categorias:
      columnas:
        - reinovalido
        - phylumdivisionvalido
        - clasevalida
        - ordenvalido
        - familiavalida
        - generovalido
# Acomodo únicamente con columnas de la base de datos.