<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccion de covariables</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default-dark/style.min.css" />

</head>

<body>

    <header>    {{etiqueta_h}}     </header>  

    <h2>Selección de <span class="covariables">covariables</span> y <span class="clase">clase</span>:</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <form id="selectVariablesForm" action="/select_variables" method="post">
        <div id="container_SVar">
            <div>
                <label>Selecciona las <span class="covariables">covariables</span>:</label>
                <div id="tree"></div>
                <div id="selectedNodesContainer1"></div>
                <textarea name="selectedVariables1" id="selectedVariables1" rows="4" cols="50" readonly style="display: none;"></textarea>
            </div>
            <div>
                <label>Selecciona la <span class = "clase">clase</span>:</label>
                <div id="tree2"></div>
                <div id="selectedNodesContainer2"></div>
                <textarea name="selectedVariables2" id="selectedVariables2" rows="4" cols="50" readonly style="display: none;"></textarea>
            </div>
        </div>
        <div id="buttonContainer">
        <button id="sendButton" style="display:none;" type="submit">Enviar covariables y clase seleccionadas</button>
        </div>
    </form>
    <script>
        $(function () {
            $.getJSON('/tree_data', function (data) {
                $('#tree').jstree({ 'core': { 'data': data, 
                                            'themes': {   /// Cambiar el tema
                                                'name': 'default', // nombre del tema
                                                'dots': true, // mostrar puntos entre nodos
                                                'icons': false // mostrar iconos junto a los nodos
                                            } } });
                $('#tree2').jstree({ 'core': { 'data': data,
                                            'themes': {   /// Cambiar el tema
                                                'name': 'default', // nombre del tema
                                                'dots': true, // mostrar puntos entre nodos
                                                'icons': false // mostrar iconos junto a los nodos
                                            } } });
            });
        });



        $(function () {
            let selectedNodes = new Set();
            let selectedNodes2 = new Set();

            // Árbol 1 (de las covariables)
            $('#tree').on('select_node.jstree', function (e, data) {

                let node = data.node;
                let tree = $('#tree').jstree();

                // Medir el tiempo de ejecución de la función processNode:
                let startTime = performance.now();
                    processNode(node, tree, selectedNodes);
                let endTime = performance.now();
                console.log('Tiempo de ejecución de processNode:', endTime - startTime, 'ms');

                updateSelectedNodesContainer('#selectedNodesContainer1', selectedNodes, '#selectedVariables1');

            });

            // Árbol 2 (de la clase)
            $('#tree2').on('select_node.jstree', function (e, data) {
                // var node = data.node;
                var node = data.node
                var tree = $('#tree2').jstree()

                if (!node.children.length) {
                    var fullName = getFullName(node, tree)

                    if (selectedNodes2.size < 1) {   // Para que solo se pueda agregar una clase, por ahora.
                        selectedNodes2.add(fullName);
                        updateSelectedNodesContainer('#selectedNodesContainer2', selectedNodes2, '#selectedVariables2');
                    }
                }
            });

            // Funciones:

            function processNode(node, tree, selectedNodes) {  // Renombramiento de 'cualquier_rama()'--
                if (!node.children.length) {
                    let fullName = getFullName(node, tree);
                    selectedNodes.add(fullName);
                } else {
                    node.children.forEach(function (childId) {
                        let childNode = tree.get_node(childId);
                        processNode(childNode, tree, selectedNodes);
                    });
                }
            }

            
            function getFullName(node, tree, n2 = node) {
                let Id_n = node.id;
                let mainNodeName = Id_n.match("__(.+)__")[1];
                return mainNodeName + ':' + n2.text;
            }


            function updateSelectedNodesContainer(containerSelector, selectedNodes, inputSelector) {
                let container = $(containerSelector);
                container.empty();
                selectedNodes.forEach(function (node, index) {
                    let item = $('<div class="selected-item"></div>').text(node);
                    let button = $('<button class="remove-button">x</button>').click(function () {
                        selectedNodes.delete(node);
                        updateSelectedNodesContainer(containerSelector, selectedNodes, inputSelector);
                    });
                    item.append(button);
                    container.append(item);
                });
                $(inputSelector).val(Array.from(selectedNodes).join('\n'));
            }

            $('#sendButton').show();
        });
    </script>
</body>
</html>

