<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccion de covariables</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default-dark/style.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree-bootstrap-theme@1.0.1/dist/themes/proton/style.min.css">
</head>

<body>

    <header>    {{etiqueta_h}}     </header>  
    <!-- <div class="card d-inline-block">
        <div class="card-body">
            <h2>Selección de <span class="covariables">covariables</span> y <span class="clase">clase</span>:</h2>
        </div>
    </div> -->
    <br>
    <h1 class="ArbolTitle">Selección de <span class="covariables">covariables</span> y <span class="clase">clase</span>:</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstree-bootstrap-theme@1.0.1/dist/jstree.min.js"></script>
    <!-- Forms con todos los elementos: -->
    <form id="selectVariablesForm" action="/select_variables" method="post">
        <br>
        <div id="container_SVar">
            <div id="covContainer">
                <label>Selecciona las <span class="covariables">covariables</span>:</label>
                <div id="tree"></div>
                <!-- <div id="selectedNodesContainer1" style="display: none;"></div>
                <textarea name="selectedVariables1" id="selectedVariables1" rows="4" cols="50" readonly style="display: none;"></textarea> -->
            </div>
            <div id="classContainer">
                <label>Selecciona la <span class = "clase">clase</span>:</label>
                <div id="tree2"></div>
                <!-- <div id="selectedNodesContainer2" style="display: none;"></div> Este es el que ya no me va a servir  -->
                <!-- <textarea name="selectedVariables2" id="selectedVariables2" rows="4" cols="50" readonly style="display: none;"></textarea> -->
            </div>
        </div>
        <div id="buttonContainer">
        <button id="sendButton" type="submit" class="btn btn-md btn-primary">Enviar covariables y clase seleccionadas</button>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/arbol.js') }}"></script>
</body>
</html>

