<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección -bases de datos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>    {{etiqueta_h}}     </header>
    
    <h2>Selecciona las bases de datos (DB) que vas a utilizar:</h2>

    <input type="text" id="nameInput" placeholder="Nombre DB" oninput="showSuggestions()" onclick="showSuggestionsClick()" >
    <div id="suggestions"></div>
    <button onclick="addName()">Agregar</button>

    <h3>DB seleccionadas:</h3>

    <ul id="selectedNames">
        {% for name in selected_names %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>

    <form action="/res_db" method="post">
        <input type="hidden" name="selected_names" id="selectedNamesInput">
        <button type="submit">Enviar BD seleccionadas</button>
    </form>

    <script>
        var selectedNames = [];
        var suggestions = {{ suggestions | tojson | safe }};
        var N_sg = 5   // Número de sugerencias mostradas de las bases de datos.

        function showSuggestionsClick() {
            var input = document.getElementById("nameInput");
            var value = input.value.trim().toLowerCase();
            var suggestionsContainer = document.getElementById("suggestions");
            suggestionsContainer.innerHTML = "";
        
            var matches = suggestions.filter(function(suggestion) {
                return suggestion.toLowerCase().startsWith(value);
            }).slice(0, N_sg); // Limita a las primeras N_sg sugerencias
            // var matches = {{ suggestions | tojson | safe }}; // Get all suggestions


            matches.forEach(function(suggestion) {
                var suggestionElement = document.createElement("div");
                suggestionElement.textContent = suggestion;
                suggestionElement.onclick = function() {
                    input.value = suggestion;
                    suggestionsContainer.innerHTML = "";
                };
                suggestionsContainer.appendChild(suggestionElement);
            });
            document.getElementById('suggestions').style.display = 'block';
        }


        function showSuggestions() {
            var input = document.getElementById("nameInput");
            var value = input.value.trim().toLowerCase();
            var suggestionsContainer = document.getElementById("suggestions");
            suggestionsContainer.innerHTML = "";

            if (value === "") return;

            var matches = {{ suggestions | tojson | safe }}.filter(function(suggestion) {
                return suggestion.toLowerCase().startsWith(value);
            }).slice(0, N_sg); // Limita a las primeras N_sg sugerencias

            matches.forEach(function(suggestion) {
                var suggestionElement = document.createElement("div");
                suggestionElement.textContent = suggestion;
                suggestionElement.onclick = function() {
                    input.value = suggestion;
                    suggestionsContainer.innerHTML = "";
                    suggestionsContainer.style.display = 'none';
                };
                suggestionsContainer.appendChild(suggestionElement);
            });
            suggestionsContainer.style.display = 'block';
        }

        function addName() {
            var nameInput = document.getElementById("nameInput");
            var name = nameInput.value.trim();
            if (name && !selectedNames.includes(name)) {
                selectedNames.push(name);
                updateSelectedNames();
                sendNameToServer(name);
            }
            nameInput.value = "";
        }

        function updateSelectedNames() {
            var selectedNamesList = document.getElementById("selectedNames");
            selectedNamesList.innerHTML = "";
            selectedNames.forEach(function(name) {
                var li = document.createElement("li");
                li.textContent = name;
                selectedNamesList.appendChild(li);
            });
            document.getElementById("selectedNamesInput").value = JSON.stringify(selectedNames);
        }

        function sendNameToServer(name) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/add_name", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    // Actualizar la lista de nombres seleccionados desde la respuesta del servidor
                    selectedNames = JSON.parse(xhr.responseText).selected_names;
                    updateSelectedNames();
                }
            };
            xhr.send("name=" + encodeURIComponent(name));
        }
    </script>
</body>
</html>