<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolución BD</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>    {{etiqueta_h}}     </header>
    
    <h1>Resolución de las BD</h1>
    <form id="selectDB_re" action="/process" method="post">

        <label for="res_selector">Selecciona la resolución para mostrar las bases de datos: <br></label>
        <br>
        <select name="Res_selector" id="res_selector" onchange="updateDbSelect()">
            {% for key in Dict_res.keys() %}
                <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
        <br>
        <select name="res_DB" id="res_db" multiple> 
            <!-- Mostrar el recuadro con las bases de datos para la resolución dada con JS ** -->
        </select>
        <br>
        <button type="button" onclick="addSelected_res_DB()">Agregar BD</button>
        <br>

        <textarea name="selected_res_DB" id="selected_res_DB" rows="4" cols="50" readonly></textarea>

        <input type="hidden" name="selectedRes" id="selectedRes1">

        <!-- Botón de envío -->
        <button type="submit">Enviar bases de datos seleccionadas</button>
    </form>


    <script>
        // Esto es para que se carguen las opciones desde que se carga la página --
        document.addEventListener('DOMContentLoaded', (event) => {
        updateDbSelect();
        });
        //--
        var Dict_res = {{ Dict_res | tojson | safe }};  // Pasamos el diccionario a Json para JS.
        var K = 0;  // contador aux.

        function updateDbSelect() {
            var selectedKey = document.getElementById("res_selector").value;

            var variablesSelect = document.getElementById("res_db");
            variablesSelect.innerHTML = "";

            Dict_res[selectedKey].forEach(function(variable) {   // Esto muestra las BD de cada resolución elegida (selectedKey) **
                var option = document.createElement("option");
                option.value = variable;
                option.text = variable;
                variablesSelect.appendChild(option);
            });
        }


        function addSelected_res_DB(){
            var selectedKey = document.getElementById("res_selector").value;
            var variablesSelect = document.getElementById("res_db");
            var selectedVariables = [];

            for (var i = 0; i < variablesSelect.options.length; i++) {
                if (variablesSelect.options[i].selected) {
                    selectedVariables.push(variablesSelect.options[i].value);

                }
            }

            var selectedValuesTextarea = document.getElementById("selected_res_DB");
            var currentValue = selectedValuesTextarea.value;

            if (K < 1 || currentValue.includes(selectedKey)){  // Esto es para que se puedan seleccionar bases de datos de una sola resolución una vez escogido el primero.
                new_element = selectedKey + ":" + selectedVariables.join(", ")
                if (currentValue) {            // En esta parte se van agregando las bases de datos con su resolución al hacer click el botón de "Agregar BD".
                currentValue += "\n";
                }
                if(!currentValue.includes(new_element)){
                    K +=1;
                    currentValue += new_element;
                    selectedValuesTextarea.value = currentValue;
                }
            }
            else{
                alert(`No puedes mezclar resoluciones distintas, intentalo de nuevo.`)
            }
        }

    </script>

</body>
</html>