<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolución BD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default-dark/style.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree-bootstrap-theme@1.0.1/dist/themes/proton/style.min.css">
</head>
<body>
    <header>    {{etiqueta_h}}     </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstree-bootstrap-theme@1.0.1/dist/jstree.min.js"></script>
    
    <h1>Resolución de las BD</h1>
    <form id="selectDB_res" action="/process" method="post">

        <label for="res_selector">Selecciona la resolución para mostrar las bases de datos con dicha resolución: <br></label>
        <br>
        <select name="Res_selector" id="res_selector" onchange="updateDBSelect()">
            {% for key in Dict_res.keys() %}
                <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
        <br>
        <div id="Res_tree"></div>
        <br>
        <!-- Botón de envío -->
        <!-- <button type="submit">Enviar bases de datos seleccionadas</button> -->
        <button id="sendButton" type="submit" class="btn btn-sm btn-primary">Continuar el análisis con las bases de datos seleccionadas</button>
    </form>

    <script>
        var Dict_res = {{ Dict_res | tojson | safe }};  // Pasamos el diccionario a Json para JS.
    </script>

    <script src="{{ url_for('static', filename='js/resDB.js') }}"></script>

</body>
</html>