<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados - {{ nombre_titulo }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <style>
        
    </style> -->
</head>

<body>

    <header>    {{etiqueta_h}}     </header>
    
    <h2>Resultados para la clase <span class="titulo-especial">"{{ nombre_titulo }}"</span>:</h2>
    <br>
    <div class="filter-button">
        <button onclick="window.location.href='/score_eps'">Mostrar Todo</button>
        <button onclick="window.location.href='/score_eps?filter=E_signif'">Más significativos</button>
    </div>

    <center class="df1">
        {{ df_resultado | safe }}
    </center>
    <br>
    <h2>Covariables por celdas:</h2>
    <br>
    <center class="df2">
        {{ df_resultado2 | safe }}
    </center>
</body>
</html>